:root {
    --border-and-buttons: #2489dd;
    --body-background: whitesmoke;
    --way-background: white;
    --link-color: black;
    --project-grid: rgb(134, 132, 132);
    --width: 50rem;
    --height: 50rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    flex-direction: column;
    border-color: var(--body-background);
}

/* NAVBAR CONFIG */
#way {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 999;
    background-color: var(--way-background);
    height: 5rem;
    width: 60rem;
}

#navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 5rem;
}
/* NAVBAR CONFIG */

/* Welcome Config */

#welcome-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    margin: 1rem;
    margin-top: 8rem;
    padding: 2rem;
    width: var(--width);
    height: auto;
}


/* Welcome Config */

/* Projects Config*/
.project_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2rem;
    width: var(--width);
    height: var(--height);
}

.project {
    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content: flex-start;
}

.grid-top-right {

    box-shadow: 0.4rem -0.4rem 15px 1px var(--project-grid);
}

.grid-top-left {

    box-shadow: -0.4rem -0.4rem 15px 1px var(--project-grid);
}

.grid-bottom-right {

    box-shadow: 0.4rem 0.4rem 15px 1px var(--project-grid);
}

.grid-bottom-left {
    box-shadow: -0.4rem 0.4rem 15px 1px var(--project-grid);

}

#button_location_project {
    margin: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Projects Config*/

/* Contact Config*/

#contact-section {
    width: var(--width);
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 2rem;
}

#contact-section div h3{
    margin: 0 !important;
}

/* Contact Config*/

/* Media Config*/
@media (max-width:720px) {
    body{
        font-size: 62.5%;
    }
}
/* Media Config*/

/* Transform Config*/
.content_transition:hover {
    box-shadow: 0 0.1rem 1.5rem 0 var(--border-and-buttons);
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}
/* Transform Config*/

/* Style and sizing Config */
.logo_size_location{
    width: 2rem;
    height: 2rem;
    position: relative;
    left: -1.5rem;
    top: 1.4rem;
}



.text_style {
    transform: scale(1.4);
    margin: 1rem;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.img_size {
    width: 15rem;
    height: 15rem;
    border-radius: 1rem;
}

.img_size_personal {
    width: 30rem;
    height: auto;
}
.text_center {
    margin: 1rem;
    text-align: center;
}
/* Style and sizing Config */

/* Button Config */
.button_style {
    font-size: 3rem;
    transition: background-color 0.2s ease, transform 0.2s ease;
    border-radius: 0.5rem;
    margin: 2rem 0;
    padding: 0.5rem;
}

.button_style_project {
    font-size: 2rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: var(--border-and-buttons);
}

.button_accion:hover {
    transform: scale(1.1);
    background-color: var(--border-and-buttons);
    transition: all 0.4s ease-in-out;
}

.link_style {
  text-decoration: none;
  color: var(--link-color); 
}

.social_link {
    color: #3366CC !important;
    margin: -0.8rem !important;
    padding: 0 !important;
    font-size: 1.5rem;
}

.social_link:hover {
    transform: scale(1.1) !important;
    transition: all 0.3s ease-in-out !important;
}
/* Button Config */
